<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd 
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-2.5.xsd
        ">
	
	<bean id="sonarJdService" class="com.sonar.report.service.data.JDSonarServiceImpl"></bean>	
	
	<bean id="emailCreator" class="com.sonar.report.service.email.VelocityEmailCreator">
		<property name="velocityEngine" ref="velocityEngine"></property>
	</bean>
	
	<bean id="springMailSender" class="com.sonar.report.service.email.SpringMailSender">
		<property name="mailSender" ref="mailSender"></property>
	</bean>
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="narelaymail.sapient.com" />
		<property name="username" value=""></property>
		<property name="password" value=""></property>
		<property name="port" value="25"></property>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">false</prop>
				<prop key="mail.smtp.sendpartial">true</prop>
			</props>
		</property>
		
	</bean>

	<bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean" 
          p:resourceLoaderPath="classpath:/velocity" 
          p:preferFileSystemAccess="false"/>
</beans>